#body {
    background-color: #202020;
}

#container {
    border-radius: 20px;
    border: 3px solid #FF0077;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
}

label {
    font-family: calibri;
    color: white;
    padding-bottom: 2px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#senha {
    margin-bottom: 20px;
}

button {
    display: flex;
    justify-content: center;
}

p {
    padding-top: 20px;
    font-family: Calibri;
    color: white;
}