* {
    margim: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Calibri";
}

body {
    height: 100vh;
}

nav.menuLateral {
    width: 300px;
    height: 100%;
    background-color: #3CB371;
    padding-top: 40px;

    box-shadow: 3px 0 0 black;
    position: fixed;
    top:0;
    left:0;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.itemMenu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 1%;
    display: flex;
    margin-bottom: 20px;
}

ul li.itemMenu a .txtLink {
    margin-left: 30px;
}

ul li.itemMenu {
    transition: .2s;
}

ul li.itemMenu:hover {
    background: black;
}

#sair {
    margin-top: 490px;
}

#container {
    margin-left: 280px;
}

#id {
    width: 50px;
}

#container {
    margin-top: 40px;
}

th {
    width: 200px;
}

