<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela Alimentos</title>
    <link rel="stylesheet" th:href="@{/css/tabelaAlimentos.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
</head>
<body id="body">
    <nav class="menuLateral">
        <ul>
            <li class="itemMenu">
                <a th:href="@{/tabelaAlimentos}">
                    <span class="icone"><i class="bi bi-table"></i></span>
                    <span class="txtLink">Tabela de Alimentos</span>
                </a>
            </li>
            <li class="itemMenu">
                <a th:href="@{/cadastroAlimentos}">
                    <span class="icone"><i class="bi bi-plus-lg"></i></span>
                    <span class="txtLink">Cadastro de Alimentos</span>
                </a>
            </li>
            <li class="itemMenu">
                <a href="#">
                    <span class="icone"><i class="bi bi-fork-knife"></i></span>
                    <span class="txtLink">Refeições</span>
                </a>
            </li>
            <li class="itemMenu">
                <a th:href="@{/adicionarRefeicao}">
                    <span class="icone"><i class="bi bi-plus-lg"></i></span>
                    <span class="txtLink">Adicionar Refeição</span>
                </a>
            </li>
            <li class="itemMenu">
                <a href="#">
                    <span class="icone"><i class="bi bi-calculator"></i></span>
                    <span class="txtLink">Cálculo TMB</span>
                </a>
            </li>
            <li class="itemMenu" id="sair">
                <a th:href="@{/login}">
                    <span class="icone"><i class="bi bi-box-arrow-left"></i></span>
                    <span class="txtLink">Sair</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div id="container" class="d-flex justify-content-center vh-100">
            <div class="table-responsive">
                <table class="table text-center align-middle">
                    <thead class="table-light">
                    <tr>
                        <th id="id">ID</th>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Proteína</th>
                        <th>Carboidrato</th>
                        <th>Gordura</th>
                        <th>Kcal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alimento : ${listarAlimentos}">
                        <td th:text="${alimento.id}">
                        <td th:text="${alimento.nomeAlimento}">
                        <td th:text="${alimento.quantidade}">
                        <td th:text="${alimento.proteina}">
                        <td th:text="${alimento.carboidrato}">
                        <td th:text="${alimento.gordura}">
                        <td th:text="${alimento.kcal}">
                        <td> <a th:href="@{/editarAlimento/{id}(id=${alimento.id})}" class="btn btn-success"><i class="bi bi-pen"></i>  Editar</a>
                            <a th:href="@{/deletarAlimento/{id}(id=${alimento.id})}" class="btn btn-danger"><i class="bi bi-trash3"></i>  Excluir</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>